{
  "Parameters": {
    "TABLE_NAME": "aws_exam_questions",
    "DEVICE_TABLE_NAME": "aws_exam_devices",
    "GEMINI_MODEL": "gemini-2.5-flash",
    "ADMIN_TOKEN_PARAMETER_NAME": "/aws-practice/admin-token",
    "GEMINI_API_KEY_PARAMETER_NAME": "/aws-practice/gemini-api-key",
    "CORS_ALLOW_ORIGIN": "http://localhost:3000"
  }
}
